home-server-ui/build*
home-server-ui/logs
home-server-ui/*.log
home-server-ui/npm-debug.log*
home-server-ui/yarn-debug.log*
home-server-ui/yarn-error.log*
home-server-ui/pnpm-debug.log*
home-server-ui/lerna-debug.log*

home-server-ui/node_modules
home-server-ui/dist
home-server-ui/dist-ssr
home-server-ui/*.local

ip.txt
server.log
server.pid
venv
nohup.out